<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
      <add key="CreateDictionary" value="create" />
      <add key="UpdateDictionary" value="update" />
      <add key="DeleteDictionary" value="delete" />
   </appSettings>
    <connectionStrings>  
      <add name="Dictionary" 
		   connectionString="Server=(localdb)\mssqllocaldb;Database=Dictionary;Trusted_Connection=True;" />  
    </connectionStrings>
</configuration>
